body {
  background-color: rgb(10,10,30);
  color: rgb(200,220,255);
  font-family: "Orbitron", "Play", sans-serif;
}

#title{
  text-align: center;
  margin-top: 100px;
  font-size: 96px;
}

.parallax {
  height: 400px;}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card {
  background-color: #555555;
  padding: 20px;
    }

#app_details_header, #url_details_header, #event_index_header, #event_details_header, h4, .card-details, .card-header {
  text-align: center; }

#event-data-link {
  text-align: center;
  text-decoration: underline;
  color: #C5D8FB;
          }

.nav-wrapper {
  background-color: rgb(10,10,30);
}

.nav-wrapper-index {
  background-color: #555555;
}

#event-table {
  background-color: grey;
}
