<div class="card-image">
  <img class="activator" src="/images/blue-eye.gif">
</div>
<div class="card-content">
  <p class="card-header"> <%= title %></p>
</div>
<div class="card-action">
  <p class="card-details"><%= details %></p>
</div>
