<div class="card-content">
  <ul>
    <% iteratable.each do |url| %>
    <li>- <%= url %> </li>
    <% end %>
  </ul>
</div>
<div class="card-action">
  <p class="card-details"><%= title %></p>
</div>
