<nav>
  <div class="nav-wrapper" >
    <a href="/" class="breadcrumb"><i class="material-icons left">home</i>Traffic Spy</a>
    <a href="/sources/<%= @id %>" class="breadcrumb"><%= @id.capitalize  %></a>
  </div>
</nav>
