<nav>
  <div class="nav-wrapper" >
      <a href="/" class="breadcrumb"><i class="material-icons left">home</i>Traffic Spy</a>
      <a href="/sources/<%= user.identifier %>" class="breadcrumb"><%= @user.identifier.capitalize %></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/sources/<%= user.identifier %>/events">Event Index<i class="material-icons right">view_list</i></a></li>
    </ul>
  </div>
</nav>
