<%= erb :_navbar_error %>
<h1 id="app_details_header">Got to <%= @id.capitalize %>'s Error page!</h1>

<div class="center">
  <h1 id="app_details_error"> <%= @error %></h1>
  <img src="/images/tswiftfail.jpg" alt="" />
</div>
